## Data Preparation

In [153]:
import pandas as pd
import numpy as np

In [154]:
df_inflation = pd.read_csv('datasets/Inflation1.csv')
df_gdp = pd.read_csv('datasets/GDP.csv')

In [161]:
df_inflation =

,REF_AREA_ID,REF_AREA_NAME,1960,1961,1962,1963,1964,1965,1966,1967,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,ZAF,South Africa,1.288859,2.102374,1.246285,1.33797,2.534973,4.069029,3.489234,3.538992,...,6.129838,4.540642,6.571396,5.184247,4.517165,4.120246,3.210036,4.611672,7.039727,6.073909

##### Filtering inflation dataset to only South Africa and separating it into pre and post apartheid data

In [162]:
df_gdp = df_gdp[df_gdp['REF_AREA_NAME'] == 'South Africa'].reset_index()

pre_apartheid_years = [str(y) for y in range(1961, 1994)]

post_apartheid_years = [str(y) for y in range(1994, 2024)]

drop_cols = [
    'FREQ_ID', 'index', 'FREQ_NAME', 'INDICATOR_ID', 'UNIT_MEASURE_ID', 'AGG_METHOD_ID', 'INDICATOR_ID','INDICATOR_NAME', 'UNIT_MEASURE_ID', 
    'UNIT_MEASURE_NAME','AGG_METHOD_ID', 'AGG_METHOD_NAME', 'DECIMALS_ID', 'DECIMALS_NAME','DATABASE_ID_ID','DATABASE_ID_NAME', 'COMMENT_TS', 
    'UNIT_MULT_ID','UNIT_MULT_NAME', 'DATA_SOURCE_ID', 'DATA_SOURCE_NAME', 'OBS_STATUS_ID',	'OBS_STATUS_NAME','OBS_CONF_ID','OBS_CONF_NAME'
    ]

df_gdp = df_gdp.drop(columns=drop_cols)

df_gdp_pre_apartheid = df_gdp[['REF_AREA_NAME'] + pre_apartheid_years].copy()
df_gdp_post_apartheid = df_gdp[['REF_AREA_NAME'] + post_apartheid_years].copy()

df_gdp_pre_apartheid

KeyError: "['FREQ_ID', 'FREQ_NAME', 'INDICATOR_ID', 'UNIT_MEASURE_ID', 'AGG_METHOD_ID', 'INDICATOR_ID', 'INDICATOR_NAME', 'UNIT_MEASURE_ID', 'UNIT_MEASURE_NAME', 'AGG_METHOD_ID', 'AGG_METHOD_NAME', 'DECIMALS_ID', 'DECIMALS_NAME', 'DATABASE_ID_ID', 'DATABASE_ID_NAME', 'COMMENT_TS', 'UNIT_MULT_ID', 'UNIT_MULT_NAME', 'DATA_SOURCE_ID', 'DATA_SOURCE_NAME', 'OBS_STATUS_ID', 'OBS_STATUS_NAME', 'OBS_CONF_ID', 'OBS_CONF_NAME'] not found in axis"

##### Filtering inflation dataset to only South Africa and separating it into pre and post apartheid data

In [156]:
df_inflation = df_inflation[df_inflation['REF_AREA_NAME'] == 'South Africa'].reset_index()

df_inflation = df_inflation.drop(columns=drop_cols)

df_inf_pre_apartheid = df_inflation[['REF_AREA_NAME'] + pre_apartheid_years].copy()
df_inf_post_apartheid = df_inflation[['REF_AREA_NAME'] + post_apartheid_years].copy()

df_inf_pre_apartheid

,REF_AREA_NAME,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993
0,South Africa,2.102374,1.246285,1.33797,2.534973,4.069029,3.489234,3.538992,1.986136,3.238225,...,11.526481,16.294227,18.654919,16.160581,12.779545,14.730918,14.320956,15.334802,13.87468,9.717467

In [157]:
df_gdp_pre_apartheid.fillna(df_gdp_pre_apartheid.mean(numeric_only=True), inplace=True)
df_gdp_post_apartheid.fillna(df_gdp_post_apartheid.mean(numeric_only=True), inplace=True)
df_inf_pre_apartheid.fillna(df_inf_pre_apartheid.mean(numeric_only=True), inplace=True)
df_inf_post_apartheid.fillna(df_inf_post_apartheid.mean(numeric_only=True), inplace=True)

##### Renaming the 'REF_AREA_NAME' columns of each dataset to 'Country'

In [158]:
for df in [df_gdp_pre_apartheid, df_gdp_post_apartheid, df_inf_pre_apartheid, df_inf_post_apartheid]:
    df.rename(columns={'REF_AREA_NAME': 'Country'}, inplace=True)

In [159]:
df_inf_pre_apartheid

,Country,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993
0,South Africa,2.102374,1.246285,1.33797,2.534973,4.069029,3.489234,3.538992,1.986136,3.238225,...,11.526481,16.294227,18.654919,16.160581,12.779545,14.730918,14.320956,15.334802,13.87468,9.717467

### Merging Datasets

In [160]:
# Reshape Inflation data
inflation_long = df_inflation.melt(
    id_vars='Country',
    var_name='Year',
    value_name='Inflation'
)

# Reshape GDP data
gdp_long = df_gdp.melt(
    id_vars='Country',
    var_name='Year',
    value_name='GDP'
)

# Convert Year to integer for both
inflation_long['Year'] = inflation_long['Year'].astype(int)
gdp_long['Year'] = gdp_long['Year'].astype(int)

# Merge on Country and Year
merged_df = pd.merge(inflation_long, gdp_long, on=['Country', 'Year'])

KeyError: "The following id_vars or value_vars are not present in the DataFrame: ['Country']"